/* universal style */
* {
  padding: 0;
  margin: 0;
}
/* 
common style */

/* 
header section */

.banner-1 {
  background-image: url("../resources/Banner\ Image.png");
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  margin: 50px auto;
}
.happy-new {
  text-align: center;
  color: #fff;
  padding-top: 177px;
}

.big-happy-new {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-style: normal;
  font-weight: bolder;
  line-height: 95px;
}

.celeb{
    display: block;
}

.section-1{
  text-align: center;
}

.off{
  color: #F00;
margin: 0px 0px 20px 0px;
font-size: 88px;
font-weight: 700;

}

.new{
  color: #F00;
margin-bottom: 10px;
font-size: 24px;
font-weight: 500;

}

.new-1{
  color: #070211;
font-size: 48px;
font-weight: 700;
margin-bottom: 20px;
}

.section-1 img{
  width: 800px;
  height: 500px;
}
/* 
main style */

.sec-1{
  display: flex;
  background-image: url('../resources/Vectorrr.png');
  background-repeat: no-repeat;
  width: 1300px;
  height: 600px;
  text-align: left;
  margin: 50px auto;
  border-radius: 16px;
}

.sec-con-1{
  /* padding: 126px 545px 270px 125px; */
  padding: 40px 80px ;
}
.sec-1-para-1{
  color: #FFF;
font-size: 64px;
font-weight: 900;
line-height: 88px; 
margin-bottom: 30px;
}
.para-1{
  display: block;
  color:#FFF ;
  font-size: 64px;
}

.sec-1-para-2{
  color: rgba(255, 255, 255, 0.80);
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-bottom: 50px;

}
 .anchor-1{
  text-decoration: none;
  color: #FFF;
  font-size: 20px;
  text-transform: uppercase;
 }
 .image{
  margin-right: 100px;
  margin-top: 50px;
 }

 .sec-2{
  width: 1300px;
  height: 500px;
  padding-top: 100px;
  margin: 20px auto;
  border-radius: 4px;
  background-color: #edc0c0;
 }

 .sec-con-2{
  text-align: center;
  color: #070211;
  margin-top: 24px;
  margin-bottom: 24px;
font-size: 32px;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
 }

 .sec-con-2 span{
  color: #F00;
font-weight: 600;

 }

 .sec-con-2 {
  margin-top: 30px;
 }

 .anchor-2{
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  background-color: #F00;
  width: auto;
  padding: 2px 32px;
  font-size: 24px;
  margin-top: 30px;
  border-radius: 8px;
  text-transform: uppercase;
  
 }

 .sec-3{
  display: flex;
  width: 1300px;
  height: 600px;
  margin: 60px  auto 0px;
  padding: 2px;

 }
 .sec-con3{
  width: 33%;
  text-align: left;
  padding: 0px 20px 0px 0px;
  margin-right: 40px;
 }

 .sec-3-h-3{
  
  color: #F00;
font-size: 24px;

 }

 .sec-3-h-2{
  color: #070211;
font-size: 48px;
font-weight: 900;
margin: 24px 0px;

 }

 .sec-3 p{
  color: rgba(7, 2, 17, 0.60);
font-size: 20px;
line-height: 32px;
margin-bottom: 20px;
 }

 .sec-3-h-2-1{
  color: #F00;
font-size: 48px;
font-weight: 700;
margin-top: 40px;
margin-bottom: 10px;

 }

 .small-img-1{
  border: 20px solid #fff;
  outline: 10px solid #F00;
  border-radius: 50%;
 }

 .small-img-2{
  margin-top: 40px;
 }

 .sec-4{
  width: 1300px;
  height: 950px;
  text-align: center;
  margin: 20px auto;
 }

 .sec-4 span{
  color: #F00;
  font-size: 48px;
 }
 .sec-4 h3{
  font-size: 48px;
 }
 .sec-4 p{
  font-size: 20px;
  line-height: 32px;
  margin: 3px auto;
 }
 .sec-4-imgs{
  position: relative;
  top: -550px;
 }

 .pic-1{
  width: 429px;
height: 433px;
position: relative;
top:5px;
bottom: 0px;
left:461px;
 }

 .pic-2{
  position: relative;
  top: 650px;
  right: 400px;
 }

 .pic-3{
  position: relative;
  top: 400px;
  left: 650px;
  z-index: 2;
 }

 
 .sec-5{
  width: 1300px;
  height: 1300px;
  margin: 60px  auto 0px;
  padding: 2px;

}

  
 .sec-5-h-3{
  color: #F00;
font-size: 24px;
font-weight: 900;
margin: 24px 0px;

 }

 .sec-5 p{
  color: rgba(7, 2, 17, 0.60);
font-size: 20px;
line-height: 32px;
margin-bottom: 20px;
 }

 .sec-5-h-2{
 
  color: #070211;
font-size: 48px;
font-weight: 700;
margin-top: 40px;
margin-bottom: 10px;

 }

 .flex-1{
  display: flex;
  gap: 10px;
  margin-top: 30px;
 }

 .flex-2{
  display: flex;
  gap: 10px;
  margin-top: 10px;
 }

 .sec-6{
  background-color: #efe3e3;
  width: 900px;
  height: 300px;
  padding: 150px 200px;
  margin: 60px  auto 10px;
  text-align: center;
 }

 .sec-6-h-2{
  color: #070211;
text-align: center;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
margin-top:24px ;
 }

 .sec-6 p{
color: rgba(7, 2, 17, 0.60);
margin-top: 24px;
margin-bottom: 24px;
font-size: 20px;
font-weight: 400;
line-height: 32px; 
 }
/* 
 .last-main input[type="email"],button{
  width: 648px;
height: 72px;
border-radius: 50px;
background: #FFF;

 } */

 input[type="email"]{
  width: 426px;
  height: 72px;
  font-size: 20px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border: none;
 }

 .last-main button{
  width: 172px;
  height: 72px;
  background-color: #F00;
  color: #FFF;
  font-size: 20px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border: none;
 }


 /* footer Styles */

 .last{
  width: 1300px;
  height: 480px;
  margin: 24px auto 0px;
  background: #070211;
  font-size: 24px;
 }

 .add{
  display: flex;
  gap: 126px;
  color: #FFF;
  padding: 26px;
  
 }  

 .last p{
  padding: 24px;
  margin-left: 150px;
 }

 .social{
  padding: 36px;
  text-align: center;
 }

 .social img{
  margin: 5px;
 }

 .lastt{
  display: flex;
  gap: 420px;
  padding: 16px;
  
 }

 hr{
  color: rgba(255, 255, 255, 0.15);;
  margin: 0px 200px;
 }
