/* universal style */
* {
  padding: 0;
  margin: 0;
}
/* 
common style */

/* 
header section */

.banner-1 {
  background-image: url("../resources/Banner\ Image.png");
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  margin: 50px 140px;
}
.happy-new {
  text-align: center;
  color: #fff;
  padding-top: 177px;
}

.big-happy-new {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-style: normal;
  font-weight: bolder;
  line-height: 95px;
}

.celeb{
    display: block;
}

.section-1{
  text-align: center;
}

.off{
  color: #F00;
margin: 0px 0px 20px 0px;
font-size: 88px;
font-weight: 700;

}

.new{
  color: #F00;
margin-bottom: 10px;
font-size: 24px;
font-weight: 500;

}

.new-1{
  color: #070211;
font-size: 48px;
font-weight: 700;
margin-bottom: 20px;
}

.section-1 img{
  width: 800px;
  height: 500px;
}
