/* universal style */
* {
  padding: 0;
  margin: 0;
}
/* 
common style */

/* 
header section */

.banner-1 {
  background-image: url("../resources/Banner\ Image.png");
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  margin: 50px auto;
}
.happy-new {
  text-align: center;
  color: #fff;
  padding-top: 177px;
}

.big-happy-new {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-style: normal;
  font-weight: bolder;
  line-height: 95px;
}

.celeb{
    display: block;
}

.section-1{
  text-align: center;
}

.off{
  color: #F00;
margin: 0px 0px 20px 0px;
font-size: 88px;
font-weight: 700;

}

.new{
  color: #F00;
margin-bottom: 10px;
font-size: 24px;
font-weight: 500;

}

.new-1{
  color: #070211;
font-size: 48px;
font-weight: 700;
margin-bottom: 20px;
}

.section-1 img{
  width: 800px;
  height: 500px;
}
/* 
main style */

.sec-1{
  background-image: url('../resources/Vectorrr.png');
  background-repeat: no-repeat;
  width: 1300px;
  height: 600px;
  text-align: left;
  margin: 50px auto;
  border-radius: 16px;
}

.sec-con-1{
  padding: 126px 545px 270px 125px;
}
.sec-1-para-1{
  color: #FFF;
font-size: 64px;
font-weight: 900;
line-height: 88px; 
margin-bottom: 30px;
}
.para-1{
  display: block;
  color:#FFF ;
  font-size: 64px;
}

.sec-1-para-2{
  color: rgba(255, 255, 255, 0.80);
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-bottom: 50px;

}
 .anchor-1{
  text-decoration: none;
  color: #FFF;
  font-size: 20px;
  text-transform: uppercase;
 }

 .sec-2{
  width: 1300px;
  height: 500px;
  padding-top: 100px;
  margin: 20px auto;
  border-radius: 4px;
  background-color: #edc0c0;
 }

 .sec-con-2{
  text-align: center;
  color: #070211;
  margin-top: 24px;
  margin-bottom: 24px;
font-size: 32px;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
 }

 .sec-con-2 span{
  color: #F00;
font-weight: 600;

 }

 .sec-con-2 {
  margin-top: 30px;
 }

 .anchor-2{
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  background-color: #F00;
  width: auto;
  padding: 2px 32px;
  font-size: 24px;
  margin-top: 30px;
  border-radius: 8px;
  text-transform: uppercase;
  
 }

 .sec-3{
  display: flex;
  width: 1300px;
  height: 600px;
  margin: 60px auto;
  padding: 2px;

 }
 .sec-con3{
  width: 33%;
  text-align: left;
  padding: 0px 20px 0px 0px;
  margin-right: 40px;
 }

 .sec-3-h-3{
  
  color: #F00;
font-size: 24px;

 }

 .sec-3-h-2{
  color: #070211;
font-size: 48px;
font-weight: 900;
margin: 10px 0px;

 }

 .sec-3 p{
  color: rgba(7, 2, 17, 0.60);
font-size: 20px;
line-height: 32px;
margin-bottom: 20px;
 }

 .sec-3-h-2-1{
  color: #F00;
font-size: 48px;
font-weight: 700;
margin-top: 40px;
margin-bottom: 10px;

 }

 .small-img-1{
  border: 20px solid #fff;
  outline: 10px solid #F00;
  border-radius: 50%;
 }

 .small-img-2{
  margin-top: 40px;
 }